<!-- 模板文件 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta content="width=device-width,user-scalable=0,viewport-fit=cover" name="viewport" />
    <meta name="theme-color" content="#30C5C3">
    <meta name="Description" content="密友圈免费电话">
    <title>密友圈免费电话</title>
    <!-- <script src="http://120.196.212.28:8050/blackboard/static/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script> -->
</head>

<body>
    <div id="box"></div>
</body>
<!-- 
    <script>
        (function (doc, win) { // 动态修改root 的 font-size
            var docEl = doc.documentElement,
                resizeEvt = 'onorientationchange' in window ? 'onorientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 750) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script> -->

</html>