* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html,
li,
ol,
p,
ul {
    margin: 0;
    padding: 0
}

body,
button,
fieldset,
html,
input,
label,
legend,
option,
select,
textarea {
    font-family: "YouYuan","Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

::-webkit-scrollbar {
    display: none
}

#box,
body,
html {
    background-color: #f7c42f;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #404040
}

li,
ol,
ul {
    list-style: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

input:focus,
textarea:focus {
    outline: 0
}

/* vue transition样式 */

.slide-left-enter,
.slide-right-leave-active {
    transition: all .3s;
    opacity: 0;
    transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    transition: all .3s;
    opacity: 0;
    transform: translate(-30px, 0);
}