/* 全局CSS文件，因为进行了css分离，此文件无法监听 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* cursor: pointer; */
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
}

body,
html,
li,
ol,
p,
ul {
    margin: 0;
    padding: 0
}

body,
button,
fieldset,
html,
input,
label,
legend,
option,
select,
textarea {
    font-family: Helvetial, Roboto, 'PingFang SC', 'Noto Sans Han';
}

::-webkit-scrollbar {
    display: none
}

::-webkit-input-placeholder {
    color: #b2b2b2;
}

body,
html {
    background-color: #F6F5F4;
    height: 100%;
}

a {
    text-decoration: none;
    color: #404040;
}

li,
ol,
ul {
    list-style: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

input:focus,
textarea:focus {
    outline: 0
}

#box {
    font-size: 0;
    height: 100%;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}